<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let cryptoCurrency of cryptoCurrencies$ | async" (click)="itemSelected(cryptoCurrency)">
        {{ cryptoCurrency?.ticker }}
      {{ cryptoCurrency?.base }}
      {{ cryptoCurrency?.usd }}
      {{ cryptoCurrency?.price | currency }}
    </button>
  </ion-list>
</ion-content>
